.search-box {
    width: 100%;
    height: 30px;
    display: flex;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.search-box input {
    width: 100%;
    margin-left: 15px;
    border: none;
    outline: none;
}

.search-box svg {
    margin: auto;
    margin-left: 5px;
}
