.navbar-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20rem;
    height: 4rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-container > svg {
    cursor: pointer;
    position: absolute;
    left: 50px;
}